html
  head
  style
   include ../css/index.css
  body      
      form(action = "/updatedata", method = "POST")
         input(name = "id" placeholder = "Enter Movie Id")
         br      
         input(name = "name" placeholder = "Enter Movie Name")      
         br               
         button(type = "submit") Submit MovieDetails      
            
      
      