html
  head
  style
   include ../css/index.css
  body      
      form(action = "/deletedata", method = "POST")
         input(name = "id" placeholder = "Enter Movie Id")
         br      
         button(type = "submit") Submit MovieDetails      
            
      
      